.btn{
    width:100px;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.br{
    color: white;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    
}

.bi-arrow-right-square-fill path{
    font-size: 50px;
    color: white;
    border-radius: 50%;
    
}

.bi-arrow-right-square-fill {
    font-size: 50px;
    border-radius: 50%;
}

.bi-arrow-left-square-fill path{
    font-size: 50px;  
    color: white;
    border-radius: 50%;
    
}

.bi-arrow-left-square-fill {
    font-size: 50px;
    border-radius: 50%;
}

.arctic{
    width:100%;
    position: absolute;
    bottom: 0;
}


.sea-img{
    width:850px;
    height:520px;
    margin: auto;
}

.sea-img img{
    width:100%;
    height:100%;
}

.left-right{
  
    width: fit-content;
    margin: auto;
    display: flex;
    position: relative;
    top:10px;
}

.sea-level-cont{
    position: relative;
    top:10px;
}

.sea-level-full{
    width:100%;
    height: 100vh;
    
}

.sea-option{
    display: flex;
    justify-content: center;
    width:100%;
    height: 85vh;
 
}

.option-animation{
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 700;
    color: white;
    height: fit-content;
    border-radius: 27px;
    border:2px solid transparent;
    border-radius:27px;
    background-image:linear-gradient(#42455a,#42455a),
    radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin:border-box;
    background-clip:content-box,border-box;
}

.option-animation div{
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.option-search{
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 700;
    color: white;
    height: fit-content;
    border-radius: 27px;
    border:2px solid transparent;
    border-radius:27px;
    background-image:linear-gradient(#42455a,#42455a),
    radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin:border-box;
    background-clip:content-box,border-box;

}

.option-search div{
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.opt{
    margin: 100px;
    position: relative;
    top:30%;
}

.sea-img{
    width:900px;
    height: 500px;
    margin: auto;
    position: relative;
    top:50px;
    
  
}

.sea-img-search{
 
    width:900px;
    height: 520px;
    margin: auto;
}

.sea-img-search img{
    width: 100%;
    height: 100%;
}


.sea-img img:after{
    content: ' ';
    display: block;
    position: absolute;
    background-image:url(notfound5.gif);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 100%;
 
}

.sea-img img{
    width:100%;
    height: 100%;
}