.foot{
    font-size: 25px;
    color: white;
    background-color: black;
    position: relative;
    top:30px;
    width:100%;
    margin:auto;
    justify-content: center;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    position: relative;
    top:100px;
    
    
}

.footer-sec{
    display: grid;
    justify-content: center;
    text-align: center;
}

a{
    font-size: 25px;
    color:white;
    text-decoration: none;
}

a:hover{
    color: aquamarine;
    text-decoration: none;
}